body {
  color: white;
  background-color: rgb(39, 38, 38);
}

div {
  width: 50%;
}
.container {
  border: 1px solid wheat;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* h1, 
div,
p {
  color: white;
} */ /* Grouping Elements */

h1 {
  /* font-family: Rancho; */
}
ul {
}
li {
  /* ul li */
  list-style-type: square;
  font-family: constantia, serif;
}

li li {
  /* ol li */
  list-style: number;
}

.one,
.two,
.three,
.four,
.five {
  border-bottom: 1px solid wheat;
  width: 80%;
  padding: 10px;
  margin: auto;
  /* position: top center; */
  /* font-family: Rancho; */
  /* font-family: "League Gothic"; */
}
.two {
}

div li {
  padding: 5px;
}

.done {
  text-decoration: line-through;
}

.on-progress {
  color: wheat;
  /* background-color: rgb(98, 86, 86); */
  border: 1px solid hsl(69, 76%, 61%);
  font-weight: bold;
  width: fit-content;
  font-family: constantia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.to-do {
  color: rgb(208, 231, 80);
  /* font-variant: small-caps; */
}

.today {
  color: wheat;
  /* background-color: lightcoral; */
  font-weight: bold;
  width: fit-content;
  font-family: constantia, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
